body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../img/iceberg.jpg);
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #display {
    color: white;
    background-color: #108378;
    display: flex;
    width: 180px;
    font-size: 28px;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px 10px 0px 0px;
    overflow: hidden;
  }
  .calc {
    width: 250px;
    height: 320px;
    display: flex;
    flex-direction: column;
  
    justify-content: space-between;
  
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #2e2720;
  
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
  }
  .tasti {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .btn {
    width: 50px;
    height: 50px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;
    transition: 0.15s;
    background-color: #3594b9;
  

  }
  .btn:hover {
    transition: 0.15s;
    box-shadow: 0px 0px 2px black;
  }
  #add, #subtract, #multiply, #divide  {
    color: white;
    background-color: #09014e;
  }
  #clear, #equal, #dot {
    color: white;
    background-color: #1625ad;
  }
  #clear {
    border-radius: 10px 0px 0px 0px;
  }
  #divide {
    border-radius: 0px 0px 10px 0px;
  }
  .zero {
    border-radius: 0px 0px 0px 10px;
  }